[submodule "third_party/volley/volley"]
	path = third_party/volley/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "third_party/disklrucache"]
	path = third_party/disklrucache
	url = https://github.com/sjudd/DiskLruCache.git
[submodule "library/src/androidTest/resources/exif-orientation-examples"]
	path = library/src/androidTest/resources/exif-orientation-examples
	url = https://github.com/recurser/exif-orientation-examples.git
[submodule "library/src/test/resources/exif-orientation-examples"]
	path = library/src/test/resources/exif-orientation-examples
	url = https://github.com/recurser/exif-orientation-examples
