# Android
local.properties
*.keystore
*.DS_Store
proguard-project.txt

# Gradle
**/.gradle
**/.settings
**/build

# gh-pages
doc/**
_site/*
_pages/*
docs/**/*

# Vim
*.swp
*.swo

# Intellij 
*.ipr
*.iml
*.iws
**/.idea/.name
**/.idea/compiler.xml
**/.idea/copyright/profiles_settings.xml
**/.idea/encodings.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/scopes/scope_settings.xml
**/.idea/vcs.xml
**/.idea/libraries
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/gradle.xml
**/.idea/dictionaries
**/.idea/dataSources.ids
**/.idea/datasources.xml
**/.idea/uiDesigner.xml
**/.idea/runConfigurations.xml
