library/bin/*
library/gen/*
library/build/*
library/local.properties
library/.gradle
library/.settings
*.iml
.idea/*
*.DS_Store
*.swp
proguard-project.txt
samples/flickr/.idea/*
samples/flickr/gen
samples/flickr/out
samples/flickr/bin
samples/flickr/local.properties
*.keystore
**/.idea/*
.settings
/library/.classpath
/library/.project
docs/**/*
