<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.bumptech.glide.instrumentation.test">
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <application android:label="GlideTest">
    <uses-library android:name="android.test.runner" />
  </application>

  <instrumentation android:targetPackage="com.bumptech.glide.instrumentation"
                   android:name="com.google.android.apps.common.testing.testrunner.Google3InstrumentationTestRunner"
                   android:label="Glide Emulator Tests" />
</manifest>
