<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bumptech.glide.integration.okhttp">

    <application>
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"/>
    </application>
</manifest>
