<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bumptech.glide.instrumentation">
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <application
      tools:ignore="MissingApplicationIcon"
      android:theme="@style/AppTheme">
    <activity
        android:name="com.bumptech.glide.test.GlideWithBeforeSuperOnCreateActivity"
        android:exported="false" />
    <activity
        android:name="com.bumptech.glide.test.GlideWithAsDifferentSupertypesActivity"
        android:exported="false" />
    <activity
        android:name="com.bumptech.glide.test.DefaultFragmentActivity"
        android:exported="false" />
    <activity
        android:name="com.bumptech.glide.test.ForceDarkOrLightModeActivity"
        android:exported="false" />
  </application>
</manifest>
