<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.bumptech.glide.instrumentation">
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <application>
    <activity android:name="com.bumptech.glide.test.GlideWithBeforeSuperOnCreateActivity" />
    <activity android:name="com.bumptech.glide.test.GlideWithAsDifferentSupertypesActivity"  />
  </application>
</manifest>
